<%= render partial: 'user', locals: { user: @user}%>

<article class="user_view">
  <div class="bio_user">
    <h4>Bio</h4>
    <div>
    <%= @user.bio %>
    </div>
  </div>
</article>

<%= render partial: 'posts/post', collection: @user.recent_posts, locals: { truncated_message: true, show_lasts_comments: true }%>

<%= link_to user_posts_path(@user.id) do %>
  <button>See all posts</button>
<% end %>