<%= form_with model: [@user, @post] do |form| %>
  <div class="post_form">
    <h3>Add New Post</h3>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: 'post_title' %>
    </div>
    <!-- Other form fields -->
    <%= form.submit 'Create Post' %>
  </div>
<% end %>
