<%= render partial: 'post', locals: { post: @post, truncated_message: false, show_all_comments: true}%>

<%= link_to new_post_comment_path(@post.id) do%>

  <button class="comment_btn"><%= 'Add new comment' %></button>
  
<% end %> 