h1 {
  text-align: center;
}

.user {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.user_card {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user_card_image {
  background-color: #eee;
  display: flex;
  width: 13%;
  margin-left: 20px;
  border: 1px solid #504d4d;
  border-radius: 1px;
  box-shadow: 0 0 5px #ccc;
  margin-right: 2%;
  min-width: 100px;
}

.users_card_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #504d4d;
  border-radius: 1px;
  background-color: #fff;
}

.image-placeholder {
  background-color: #eee;
  display: flex;
  margin: 0 auto;
  align-self: center;
}

button > a {
  text-decoration: none;
  color: #000;
}

.users_card_details > h2 > a {
  font-size: 30px;
  padding-left: 15px;
  color: #000;
  text-decoration: none;
}

.posts_card > h4 > a {
  font-size: 20px;
  padding-left: 15px;
  color: #000;
  text-decoration: none;
  margin-top: 5px;
}

.users_card_details > h2 > a:hover {
  color: rgb(139, 0, 116);
}

.users_card_details > p {
  font-size: 20px;
  padding-right: 25px;
  color: #000;
  text-decoration: none;
  text-align: end;
}

.user_bio {
  display: flex;
  flex-direction: column;
  width: 97%;
  border: 1px solid #504d4d;
  border-radius: 1px;
  margin-left: 27px;
  background-color: #fff;
}

.user_bio > h3 {
  font-size: 25px;
  padding-left: 15px;
  color: #000;
}

.user_bio > p {
  padding-left: 15px;
}

.users_post {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin-left: 27px;
}

.post_card {
  border: 1px solid #504d4d;
  border-radius: 1px;
  background-color: #fff;
  margin-top: 10px;
}

.post_card > h4 > a:hover {
  color: #8b8400;
}

.post_card > p {
  padding-left: 15px;
  margin-top: 5px;
}

.posts_counter {
  padding-right: 20px;
  color: #000;
  text-align: end;
}

.holder_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid #504d4d;
  border-radius: 1px;
  padding: 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
}

button:hover {
  color: rgb(139, 0, 120);
}

.list_posts {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin-left: 27px;
}

.post_comment {
  display: flex;
  flex-direction: column;
  border: 1px solid #504d4d;
  border-radius: 1px;
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.comments_posted > p {
  padding-left: 15px;
  margin-top: 10px;
}

.details_post {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.details_post_card {
  display: flex;
  flex-direction: column;
  width: 97%;
  border: 1px solid #504d4d;
  border-radius: 1px;
  margin-left: 10px;
  background-color: #fff;
  padding: 10px;
}

.details_post_card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
}

.details_post_card_header > .post_title {
  font-size: 20px;
}

.details_post_comment {
  border: 1px solid #504d4d;
  border-radius: 1px;
  background-color: #fff;
  margin-top: 10px;
  width: 97%;
  padding: 10px;
  margin-left: 11px;
}
